:root {
    --color-dark: #21213f;
    --color-light: #ffffff;
}

body {
    position: relative;
}

body::before,
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-attachment: fixed;
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;
}

/* Light Mode Background */
body::before {
    background-image: url('../image/bg7.jpg');
    opacity: 1;
}

/* Dark Mode Background */
body::after {
    background-image: linear-gradient(rgba(55, 65, 76, 0.472), rgba(55, 65, 76, 0.472)), url('../image/bg3.jpg');
    opacity: 0;
}

body.dark::before {
    opacity: 0;
}

body.dark::after {
    opacity: 1;
}

input {
    display: none;
}

.switch {
    overflow: hidden;
    display: flex;
    width: 60px;
    height: 30px;
    padding: 3px;
    border-radius: 15px;
    background-color: var(--color-dark);
    cursor: pointer;
}

.handle {
    position: relative;
    width: 24px;
    height: 24px;
    transition: 0.3s;
}

.handle::before,
.handle::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.handle::before {
    background: var(--color-light);
}

.handle::after {
    background: var(--color-light);
    opacity: 0;
    translate: -7px -7px;
}

body.dark .switch {
    background: var(--color-light);

}

body.dark .handle {
    translate: 30px 0;
}

body.dark .handle::after {
    opacity: 1;
}

body.dark .handle::before {
    background: var(--color-dark);
}