.img {
  max-height: 50vh;
  border-radius: 10px;
}

.avatar {
  background-color: transparent;
  place-content: center;
}

.hero {
  width: 80%;
}

/* Adjust font sizes for smaller screens */
@media screen and (max-width: 768px) {
  .img {
    max-height: 40vh;
    max-width: 40vh;
  }

  .heroText h1 {
    font-size: 1.8rem !important;
  }

  .heroText h2 {
    font-size: 1.4rem !important;
  }

  .heroText h4 {
    font-size: 1.1rem !important;
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .heroText h1 {
    font-size: 1.5rem !important;
  }

  .heroText h2 {
    font-size: 1.2rem !important;
  }

  .heroText h4 {
    font-size: 1rem !important;
  }
}

.currentWork {
  text-decoration: "none";
}

.currentWork:hover {
  text-decoration: "underline";
}